
<mat-toolbar >
    
    <span>My App</span>
    <span class="example-spacer"></span>
    
  </mat-toolbar>
  <mat-sidenav-container class="example-container" >
  <mat-sidenav mode="side" opened>
    <img class="avatar mat-elevation-z8" src="https://img.freepik.com/vector-gratis/pila-libros-diseno-plano-dibujado-mano_23-2149334862.jpg" alt="">
    <h4 class="name">Leticia Orive</h4>
    <p class="designation">System Developer Associate</p>
    <mat-divider></mat-divider>
     <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Crear</span>
     </button>
     <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Person</span>
     </button>
     <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Interes</span>
     </button>
     <mat-divider></mat-divider>
     <button mat-button class="menu-button">
      <mat-icon>logout</mat-icon>
      <span>Salir</span>
     </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      Main Content
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>